# Intellij files
.idea/
*.iml

# ANTLR plugin files
**/gen/**/*Lexer.*
**/gen/**/*Parser.*
**/gen/**/*Listener.*
**/gen/**/*Visitor.*

# Maven files
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties

# Log files
*.log

# Package Files #
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

# Binary files
*.class

# Python related
.pytest_cache/
.cache
__pychache__
**/.ipynb_checkpoints
.eggs
*egg-info
dist/
.coverage
.venv
build/
sphink-doc/
test-reports/
.tox
